@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&display=swap');

/* *{
    margin: 0;
    padding: 0;
box-sizing: border-box;
} */
body {
    text-align: center;
    
}

* {
    font-family: "BIZ UDGothic";
}

.checked {
    text-decoration:line-through;
}

li {
    
    list-style: none;
}

h1 {
    font-size: 5rem;
    color: rgb(189, 254, 232);
    position: absolute;
    margin-left: 5rem;
}

body{
    background-color: rgb(189, 254, 232);
    
}

input {
    width: 15rem;
    height: 20px;
}

button { 
    width: 8rem;
    height: 26px;
    
}

input {
    margin-top: 7rem;
}

.vitrine { 
    height: 200px; 
    width: 100%; 
    background-color: #222; 
    margin-top: 1px;
    
} 

img{
    position: absolute;
    width: 6rem;
    margin-top: 45px;
    margin-left: 37rem;
}

.block {
    height: 25px;
    margin: 0 auto; 
    width: auto;
    background-color: #222; 
    border: 2px;
    padding: 10px;
    
}

.box{background-color: rgb(189, 254, 232);
    position: center;
    margin: 1%;
    height: 26rem;
    width: 50rem;
    align-items: flex;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 8px 3px rgb(43, 43, 43);

}
